.card-main{
  // border: solid;
  // padding: 0% 1.5%;
  margin-top: 2%;
  justify-content: right;
  width: 85%;
  background-color: #c7c8c8;
  border-radius: 8px;
}

.header{
  text-align: center;
  padding: 1.5% 0 1% 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
  font-weight: bold;
}

.body{
  background-color: whitesmoke;
  // color: #20b42d;
  padding: 1.5%;
}


.footer{
  text-align: center;
  padding: 1% 0 1% 0;
  // border-bottom: 1px solid #ddd;
  font-size: 1.15rem;
}
