#home{
  width: 100%;
}

.presentation-div{
  // border: solid;
  display: inline-block;
  width: 60%;
  height: 650px;
}

.presentation-text{
  vertical-align: top;
  margin: 25% 0% 20% 12%;
  color: white;
  font-size: 70px;
}

.presentation-img{
  display: inline-block;
  // border: solid;
  width: 38%;
  vertical-align: top;
  height: 650px;
}

.presentation-img img{
  border-radius: 50%;
  margin: 25% 0% 10% 10%;
  width: 85%;
}

.section-title{
  font-size: 70px;
  margin: 2% 0% 0% 0%;
  color: #20aa2d;
}

.section-title::before { /* Añadimos contenido antes de cada elemento de la lista */
  content: "\2B9E"; /* Insertamos el marcador */
  padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
  color: #20aa2d; /* Coloreamos la viñeta */
}