.navbar-main{
  background: #28e138;
  position: fixed;
  top: 0%;
}

// #nav-bar{
//   position: fixed;
//   top: 0%;
//   display: block;
//   width: 100%;
//   z-index: 50;
// }

.navicon{
  cursor: pointer;
  font-size: 1.5rem;
}