:root{
	--animation: "";
}

#skills{
	width: 85%;
	margin: auto;
	justify-content: center;
}

.card-skill{
	width: fit-content;
	background-color: white;
	border-radius: 9px;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
}

.card-skill::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: #23272d;
}

#Frontend::before{
	animation: 1.6s var(--animation) 1;
	animation-fill-mode: forwards;
}

#Backend::before{
	animation: 1.6s var(--animation) 1;
	animation-fill-mode: forwards;
}

#Otros::before{
	animation: 1.6s var(--animation) 1;
	animation-fill-mode: forwards;
}

.card-skill .title{
	color: #20aa2d;
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
	width: 98%;
	margin: auto;
	padding: 1.5% 0 1.5% 0;
	border-bottom: 2px solid #20aa2d;
}

.skill-img-div{
	vertical-align: middle;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 1%;
}

.skill-img{
	margin: 1% 0 1% 0;
	width: 170px;
	display: inline-block;
}

.skill-name{
	text-align: center;
	font-size: 1.3rem;
	vertical-align: bottom;
}

@keyframes appear-card-sk {
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}
